/* common style */
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Inter', sans-serif;
}

.f-merriweather{
    font-family: 'Merriweather', serif;
}
.primary-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: #F00;
    border: none;
    border-radius: 5px;
    transition: .2s;
}
.primary-btn:hover{
    background-color: rgb(173, 0, 0);
    cursor: pointer;
    color: #bebebe;
}
.place-red{
    color: #F00;
}

/* header section */
header{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 10px;
}
.banner{
    background-image: url("../image/Banner\ Image.png");
    background-repeat: no-repeat;
    text-align: center;
    /* padding: 177px 0px 177px 0px; */
    background-position: center;
    height: 600px;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../image/Rectangle\ 15.png");
    z-index: -1;
}

.banner-sub-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-top: 177px;
    z-index: 1; 
}
.banner-main-title{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin-top: 0px;
    z-index: 1;
}

/* Main section */
main{
    max-width: 1320px;
    margin: 0 auto;
}
/* Holiday sell section */
.holyday-sell{
    text-align: center;
}
.holyday-discount{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding: 120px 0px 0px 0px;
}
.holyday-comment{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.holyday-category{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}
.holiday-img{
    width: 802.9px;
    height: 500px;
}

/* Welcome section */
.welcome{
    display: flex;
    background-image: url("../image/Vectorrr.png");
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: 120px;
}
.welcome::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../image/Vector11.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.welcome-text{
    padding: 126px 40px 142px 126px;
    z-index: 1;
}
.welcome-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 0px;
}
.welcome-text p{
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
}
.welcome-text a button{
    margin-top: 48px;
}
.welcome-year{
    padding: 68px 138px 67px 38px;
    z-index: 1;
}
.welcome-year img{
    width: 320px;
    height: 465px;
}

/* Place section */
.place{
    text-align: center;
    background-image: url("../image/red\ liner\ gradient.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 110px;
    margin-top: 120px;
}
.place-text{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place button{
    margin-top: 48px;
}

/* Coming soon section */
.coming-soon{
    display: flex;
    margin-top: 120px;
}
.coming-text{
    padding: 104px 130px 104px 0px;
}
.coming-text-offer{
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}
.coming-text-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.coming-img{
    position: relative;
}
.coming-img .coming-img-1{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 463px;
    height: 463px;
}
.coming-img-2{
    width: 365px;
    height: 365px;
}

.coming-logo{
    padding-top: 112px;
    margin-left: 165px;
}
.coming-logo-year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.coming-logo img{
    width: 140px;
    height: 140px;
    margin-top: 45px;
}