/* common style */
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Inter', sans-serif;
}

.f-merriweather{
    font-family: 'Merriweather', serif;
}

/* header section */
header{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 10px;
}
.banner{
    background-image: url("../image/Banner\ Image.png");
    background-repeat: no-repeat;
    text-align: center;
    /* padding: 177px 0px 177px 0px; */
    background-position: center;
    height: 600px;
    position: relative;
    z-index: -1;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #000000d5, #0000005d, #000000c0);
    opacity: 1;
    /* rgba(0, 0, 0, 0.4) */
    border-radius: 16px;
    z-index: -1;
}

.banner-sub-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-top: 177px;
    z-index: 1; 
}
.banner-main-title{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    margin-top: 0px;
    z-index: 1;
}

/* Main section */
main{
    max-width: 1320px;
    margin: 0 auto;
}
/* Holiday sell section */
.holyday-sell{
    text-align: center;
}
.holyday-discount{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding: 120px 0px 0px 0px;
}
.holyday-comment{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.holyday-category{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}
.holiday-img{
    width: 802.9px;
    height: 500px;
}